#jiralyzer {
    position:  absolute;
    left: 60px; /*Leave room for the navigation bar*/
    top: 2%;
    z-index: 1;
    padding: 0;
    width: 20%;
    min-width: 200px;
    background: rgba(255,255,255,.95);
    border: 2px  solid rgba(0,0,0,0.5);
    box-shadow: 0 2px 2px black;
    border-radius: 2px;
    cursor: move;
    resize: both;
}
#jiralyzer h1{
    width: 101%;
    background: rgb(32, 80, 129);
    box-shadow: 0 1px 1px rgb(0, 0, 0);
    text-align: center;
    padding: 1%;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin: -2px 0 0 -1.5%;
}
#jiralyzer .collapser{
    transition: all .3s ease-in;
    position: absolute;
    top: 2px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: rgb(255, 255, 255) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
#jiralyzer.collapsed .collapser{
    border-width: 8px 0 8px 10px;
    border-color: transparent transparent transparent rgb(255, 255, 255);
}
#jiralyzer .jl-content{
    transition: all;
    height: auto;
    overflow: hidden;
}
#jiralyzer.collapsed .jl-content{
    height: 0;
}

#jiralyzer p{
    padding: 2%;
}
#jiralyzer ul {
    margin: 0 0 2% 0;
    padding: 0 0 0 2%;
}
#jiralyzer ul:first-child{
    margin-top: 2%;
}

#jiralyzer li{
    list-style: none;
}

#jiralyzer .jl-content > ul > li:first-child{
    font-weight: bold;
}

div[data-labels=""] {
    background: rgba(171, 66, 66, 0.21);
}

.warning a{
    color: rgb(255, 145, 0);
}

.error a{
    color: rgb(255, 47, 13);
}