#jiralyzer {
    position:  absolute;
    left: 60px; /*Leave room for the navigation bar*/
    top: 2%;
    z-index: 1;
    padding: 0;
    width: 20%;
    min-width: 200px;
    background: rgba(255,255,255,.95);
    border: 2px  solid rgba(0,0,0,0.5);
    box-shadow: 0 2px 2px black;
    border-radius: 2px;
    cursor: move;
    resize: both;
}
#jiralyzer img{
    position: absolute;
    height:0;
}
#jiralyzer h1{
    width: 101%;
    background: rgb(32, 80, 129);
    box-shadow: 0 1px 1px rgb(0, 0, 0);
    text-align: center;
    padding: 1%;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin: -2px 0 0 -1.5%;
}
#jiralyzer .collapser{
    transition: all .3s ease-in;
    position: absolute;
    top: 2px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: rgb(255, 255, 255) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
#jiralyzer.collapsed .collapser{
    border-width: 8px 0 8px 10px;
    border-color: transparent transparent transparent rgb(255, 255, 255);
}
#jiralyzer .jl-content{
    transition: all;
    height: auto;
    overflow: hidden;
    min-height: 80px;
    background: transparent;
}
#jiralyzer.collapsed .jl-content{
    height: 0;
    min-height: 0;
}
#jiralyzer.collapsed #loader{
    display: none;
}

#jiralyzer p{
    padding: 2%;
}
#jiralyzer ul {
    margin: 0 0 2% 0;
    padding: 0 0 0 2%;
}
#jiralyzer ul:first-child{
    margin-top: 2%;
}

#jiralyzer li{
    list-style: none;
}

#jiralyzer .jl-content > ul > li:first-child{
    font-weight: bold;
}

div[data-labels=""] {
    background: rgba(171, 66, 66, 0.21);
}

.warning a{
    color: rgb(255, 145, 0);
}

.error a{
    color: rgb(255, 47, 13);
}


#loader {
    position: absolute;
    margin: 0;
    top: 27%;
    left: 37%;
    width: 5.4em;
    height: 5.4em;
}

#hill {
    position: absolute;
    width: 7.1em;
    height: 7.1em;
    top: 1.7em;
    left: 1.7em;
    background-color: transparent;
    border-left: .25em solid antiquewhite;
    transform: rotate(45deg);
}

#hill:after {
    content: '';
    position: absolute;
    width: 7.1em;
    height: 7.1em;
    left: 0;
}

#box {
    position: absolute;
    left: 0;
    bottom: -.1em;
    width: 1em;
    height: 1em;
    background-color: transparent;
    border: .25em solid #cc5050;;
    border-radius: 15%;
    transform: translate(0, -1em) rotate(-45deg);
    animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
}

@keyframes push {
    0% {
        transform: translate(0, -1em) rotate(-45deg);
    }
    5% {
        transform: translate(0, -1em) rotate(-50deg);
    }
    20% {
        transform: translate(1em, -2em) rotate(47deg);
    }
    25% {
        transform: translate(1em, -2em) rotate(45deg);
    }
    30% {
        transform: translate(1em, -2em) rotate(40deg);
    }
    45% {
        transform: translate(2em, -3em) rotate(137deg);
    }
    50% {
        transform: translate(2em, -3em) rotate(135deg);
    }
    55% {
        transform: translate(2em, -3em) rotate(130deg);
    }
    70% {
        transform: translate(3em, -4em) rotate(217deg);
    }
    75% {
        transform: translate(3em, -4em) rotate(220deg);
    }
    100% {
        transform: translate(0, -1em) rotate(-225deg);
    }
}