<!DOCTYPE html>
<html>
<head>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/ionic/release/js/ionic.bundle.js"></script>
    <script src="popup.js"></script>
    <link rel="stylesheet" href="popup.css">
    <link rel="stylesheet" href="bower_components/ionic/release/css/ionic.css">
</head>
<body data-ng-app="cors" data-ng-controller="PopupCtrl">
<div class="bar bar-header bar-dark">
    <h1 class="title">Settings</h1>
</div>
<div class="has-header">
    <div class="list">
        <ion-toggle data-ng-model="active" toggle-class="toggle-calm">Enable JIRA Extension</ion-toggle>
        <label class="item item-input item-floating-label">
            <span class="input-label">JIRA URL</span>
            <input type="text" data-ng-model="url" placeholder="JIRA URL">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Label One</span>
            <input type="text" data-ng-model="labelOne" placeholder="Label One">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Label Two</span>
            <input type="text" data-ng-model="labelTwo" placeholder="Label Two">
        </label>
    </div>
</div>

<div class="global-msg" style="margin-left: -78.5px; top: 20px;">
    <div class="aui-message aui-message-error error closeable shadowed "><p class="title"><span
            class="aui-icon icon-error"></span><strong>Error</strong></p>
        <p>Unauthorized</p><!-- .aui-message --><span class="aui-icon icon-close" role="button" tabindex="0"></span>
    </div>
</div>
</body>
</html>